/* AJOUTER UN PRODUIT */
.addproduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.addproduct .title {
  margin: 2em;
}
.addproduct .title h2 {
  font-weight: 900;
  font-size: 3em;
}
.addproduct form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.addproduct form .input-box {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 60%;
}
.addproduct form .input-box label {
  font-weight: 500;
  margin-bottom: 10px;
}
.addproduct form .input-box input {
  padding: 10px;
  border: none;
  background-color: #e7e7e7;
  border-radius: 0;
  font-weight: 700;
}
.addproduct form .input-box input::-webkit-outer-spin-button,
.addproduct form .input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.addproduct form .input-box input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  font-family: "Roboto", serif;
}
.addproduct form .input-box textarea {
  min-width: 600px;
  min-height: 200px;
  max-height: 500px;
  padding: 10px;
  background-color: #e7e7e7;
  border: none;
  resize: none;
  border-radius: 5px;
}
.addproduct form .input-box textarea:focus {
  outline: none;
}
.addproduct form .input-box input:focus {
  outline: none;
}
.addproduct form button {
  padding: 10px 20px;
  font-size: 1.3em;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #ED4F18;
  font-weight: 600;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.specificProduct .title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.specificProduct .title h2 {
  font-weight: 900;
  text-transform: capitalize;
  font-size: 3em;
}
.specificProduct .title p {
  font-weight: 500;
  font-size: 1.3em;
}
.specificProduct .descriptionContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.specificProduct .descriptionContainer .left {
  width: 60%;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: white;
}
.specificProduct .descriptionContainer .left h3 {
  font-size: 1.6em;
  margin: 10px 0 20px 0;
}
.specificProduct .descriptionContainer .left p {
  margin-top: 10px;
  font-weight: 200;
}
.specificProduct .descriptionContainer .right {
  width: 40%;
  background-color: #DAB22D;
}
.specificProduct .addOption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ee4545;
  color: white;
  cursor: pointer;
}
.specificProduct .addOption p {
  margin-left: 10px;
}
.specificProduct .optionsContainer {
  display: flex;
  margin: 30px 10px;
  justify-content: center;
}
.specificProduct .optionsContainer .card {
  margin: 10px 20px;
  width: 280px;
  height: 200px;
  background: black;
  border-radius: 10px;
  position: relative;
  transition: background-color 2s linear;
}
.specificProduct .optionsContainer .card h2 {
  color: white;
  margin: 20px;
  text-transform: initial;
  font-weight: 800;
}
.specificProduct .optionsContainer .card .gear {
  color: white;
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 20;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.specificProduct .optionsContainer .card .trash {
  color: red;
  position: absolute;
  top: 12px;
  right: 40px;
  z-index: 20;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}
.specificProduct .optionsContainer .card .stocks {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  color: white;
  font-weight: 300;
  transition: color 300ms;
}
.specificProduct .optionsContainer .card .stocks .actuals, .specificProduct .optionsContainer .card .stocks .total {
  margin-bottom: 10px;
  font-size: 1.3em;
}
.specificProduct .optionsContainer .card .stocks .actuals .number, .specificProduct .optionsContainer .card .stocks .total .number {
  font-weight: 900;
  font-family: "Roboto", serif;
  font-size: 1em;
}
.specificProduct .optionsContainer .card:hover {
  background: linear-gradient(120deg, #ff4040, #FFC200);
  transition: background-color 2s linear;
}
.specificProduct .optionsContainer .card:hover .gear, .specificProduct .optionsContainer .card:hover .trash, .specificProduct .optionsContainer .card:hover .stocks .actuals {
  color: black;
}

/*# sourceMappingURL=style.css.map */
