* {}



/* AJOUTER UN PRODUIT */
.addproduct
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title
  {
    margin: 2em;

    h2
    {
      font-weight: 900;
      font-size: 3em;
    }

  }

  form
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .input-box
    {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      width: 60%;

      label
      {
        font-weight: 500;
        margin-bottom: 10px;
      }

      input
      {
        padding: 10px;
        border: none;
        background-color: #e7e7e7;
        border-radius: 0;
        font-weight: 700;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=number]
      {
        -moz-appearance: textfield;
        -webkit-appearance: none;
        font-family: "Roboto", serif;
      }

      textarea
      {
        min-width: 600px;
        min-height: 200px;
        max-height: 500px;
        padding: 10px;
        background-color: #e7e7e7;
        border: none;
        resize: none;
        border-radius: 5px;
      }

      textarea:focus
      {
        outline: none;
      }

      input:focus
      {
        outline: none;
      }
    }

    button
    {
      padding: 10px 20px;
      font-size: 1.3em;
      border: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      background-color: #ED4F18;
      font-weight: 600;
      color: white;
      margin-top: 10px;
      cursor: pointer;
    }
  }

}


.specificProduct
{
  .title
  {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    h2
    {
      font-weight: 900;
      text-transform: capitalize;
      font-size: 3em;
    }

    p
    {
      font-weight: 500;
      font-size: 1.3em;
    }
  }

  .descriptionContainer
  {
    width: 100%;
    display: flex;
    flex-direction: row;

    .left
    {
      width: 60%;
      background-color: #171717;
      display: flex;
      flex-direction: column;
      padding: 30px;
      color: white;

      h3
      {
        font-size: 1.6em;
        margin: 10px 0 20px 0;
      }

      p
      {
        margin-top: 10px;
        font-weight: 200;
      }
    }


    .right
    {
      width: 40%;
      background-color: #DAB22D;
    }
  }

  .addOption
  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ee4545;
    color: white;
    cursor: pointer;

    p
    {
      margin-left: 10px;
    }
  }

  .optionsContainer
  {
    display: flex;
    margin: 30px 10px;
    justify-content: center;

    .card
    {
      margin: 10px 20px;
      width: 280px;
      height: 200px;
      background: black;
      border-radius: 10px;
      position: relative;
      transition: background-color 2s linear;

      h2
      {
        color: white;
        margin: 20px;
        text-transform: initial;
        font-weight: 800;
      }

      .gear
      {
        color: white;
        position: absolute;
        top: 12px;
        right: 15px;
        z-index: 20;
        cursor: pointer;
        transition: color 300ms ease-in-out;
      }

      .trash
      {
        color: red;
        position: absolute;
        top: 12px;
        right: 40px;
        z-index: 20;
        cursor: pointer;
        transition: color 300ms ease-in-out;
      }

      .stocks
      {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
        color: white;
        font-weight: 300;
        transition: color 300ms;

        .actuals, .total
        {
          margin-bottom: 10px;
          font-size: 1.3em;

          .number
          {
            font-weight: 900;
            font-family: "Roboto", serif;
            font-size: 1em;
          }
        }
      }
    }

    .card:hover
    {
      background: linear-gradient(120deg, #ff4040, #FFC200);
      transition: background-color 2s linear;

      .gear, .trash, .stocks .actuals
      {
        color: black;
      }
    }
  }


}